.chat_wrap {background-color:#acc2d2; border:1px solid #999; width:600px; padding:5px; font-size:13px; color:#333}
.chat_wrap .inner{background-color:#acc2d2; border-radius:5px; padding:10px; overflow-y:scroll;height: 710px;}
.chat_wrap .item{margin-top:15px}
.chat_wrap .item:first-child{margin-top:0px}
.chat_wrap .item .box{display:inline-block; max-width:250px; position:relative}
.chat_wrap .item .box::before{content:""; position:absolute; left:-8px; top:9px; border-top:0px solid transparent; border-bottom:8px solid transparent;border-right:8px solid #fff;}
.chat_wrap .item .box .msg {background:#fff; border-radius:10px; padding:8px; font-size:15px;text-align:left}
.chat_wrap .item .box .time {font-size:11px; color:#999; position:absolute; right: -75px; bottom:5px; width:70px}
.chat_wrap .chat_send {margin: 10px auto; display: flex;}
.chat_wrap .chat_send #message {text-align:right; width:100%;}
.chat_wrap .chat_send #button-send {text-align:right; width:15%; text-align : center; margin: 0px 2%;}
.chat_wrap .item.msg .box::before{left:auto; right:-8px; border-left:8px solid #fee600; border-right:0;}
.chat_wrap .item.msg .box .msg{background:#fee600}
.chat_wrap .item.msg .box .time{right:auto; left:-75px}
.chat_wrap .item .box{transition:all .3s ease-out; margin:0 0 0 20px;opacity:0}
.chat_wrap .item.msg .box{transition:all .3s ease-out; margin:0 20px 0 0;}
.chat_wrap .item.on .box{margin:0; opacity: 1;}

input[type="text"]{border:0; width:100%;background:#ddd; border-radius:5px; height:70px; padding-left:5px; box-sizing:border-box; margin-top:5px}
input[type="text"]::placeholder{color:#999}

.background_image {
    background-image:url('../images/hospital_background.jpg');background-repeat: no-repeat;
}
#videoElement {
    position:absolute;
    left:50%;
}
#start_btn{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right:-24px;
}
#end_btn{
	margin-left:18px;
	margin-right:-24px;
}
#download-btn{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left:18px;
}
#btn_group button{
	border: 1px solid black;
	background-color: rgba(0,0,0,0);
	color: black;
	padding: 5px;
}
#btn_group button:hover{
	color:white;
	background-color: black;
}

